{% extends 'base/_base_home.html' %}
{% load widget_tweaks %}
{% block title %}Home{% endblock %}
{% block body_title %}Home{% endblock %}
{% block body_home %}
{% include 'base/_navbar.html' %}

<div class="container py-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <form class="d-flex" method="get" action="">
                <div class="form-group col px-5">
                    <span><b>Titulo: </b></span><br>
                    {% render_field filter.form.title class="form-control" %}
                </div>
                <div class="form-group col px-5">
                    <span><b>Usuario: </b></span><br>
                    {% render_field filter.form.author class="form-control" %}
                </div>
                <div class="form-group col">
                    <span><b>Categorias: </b></span><br>
                    {% for cat in filter.form.category %}
                    <label class="checkbox-inline">
                        {{cat.tag}} {{cat.choice_label}}
                    </label>
                    {% endfor %}
                </div>
                <div class="form-group col">
                    {% if has_filter %}
                        <a href="{%  url 'home' %}">
                            <button class="btn-default" type="button">Reset</button>
                        </a>
                    {% endif %} 
                </div>
                <button type="submit" class="btn-default"><span class="fa fa-search"></span> Pesquisar</button>
            </form>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {% include 'home/posts.html' %}
    </div> 
</div>
{% endblock %}