{% extends 'base/_base_home.html' %}
{% load widget_tweaks %} 
{% block body_home %}
{% include 'base/_navbar.html' %} 
<div class="container py-5">
    <div class="bg-light rounded-3 p-5 mb-4 mx-5"> 
        <form action="{% url 'home:home' %}" method="get">          
            <div class="row">
                <div class="form-group col mb-2">
                    <span class="fw-bold py-3">Titulo: </span>   
                    <input name="title" type="text" value="{{request.GET.title}}" class="form-control" placeholder="Pesquisar..."> 
                </div> 
                <div class="form-group col-md-2 mb-2 py-3 text-center"> 
                    <button type="submit" class="btn-default btn-red"><span class="fa fa-search"></span> Pesquisar</button>
                    <a href="{%  url 'home:home' %}">
                        <button class="btn-default btn-red" type="button">Reset</button>
                    </a> 
                </div> 
            </div>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {% include 'home/posts.html' %}  
    </div> 
    <div class="text-center p-4">
        {% include 'home/paginacao.html' %}
    </div>
</div>
{% endblock %}