{% load static %}  
{% for post in post_list %}
{% if post.is_activate == True %}
<div class="card-group">
    <div class="card-box"> 
        {% if post.image %} 
        <a href="{% url 'home:post-detail' post.pk %}">
            <img class="img-responsive" src="{{ post.image.thumb.url }}" alt="card-img-top">
        </a>
        {% else %}
        <th scope="row">None</th>
        {% endif %} 
        <div class="card-body">
        <h6 class="card-title"><a href="{% url 'home:post-detail' post.pk %}" class="text-dark card-text text-center">{{post.title}}</a></h6> 
        <p class=" ">
            <a href="#" style="font-size:9px; text-decoration: none; color: rgb(155, 8, 8);">
                <table>
                    <tr>  
                        <th> 
                            {% if post.author.imagem %}  
                                <img src="{{  post.author.imagem.url }}" alt="{{ post.author.first_name }}" class="img-fluid rounded-circle" style="width: 40px; height: 40px;margin-right: 10px;">  
                            {% else %}  
                                <img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle" alt="default" style="width: 40px; height: 40px;margin-right: 10px;"/>   
                            {% endif %}
                        </th> 
                        <th>
                            <span class="fw-light">{{ post.author.user_name}}</span>
                        </th>   
                    </tr> 
                </table> 
            </a>   
        </p> 
        </div>
        <div class="card-footer bg-transparent">  
            {% for tag in post.tags.all %}
            <a href="{% url 'home:post_by_tag' tag.slug %}" style="text-decoration: none; color: rgb(46, 46, 46);">
                <span class="badge bg-warning text-dark">{{tag.name}}</span>
            </a>
             {% endfor %} 
         </div>
    </div> 
</div> 
{% endif %}
{% endfor %} 