{% load static %} 
    {% for post in filter.qs %}
    <div class="col py-3"> 
        <div class="card-box ">  
            {% if post.image %} 
            <a href="{% url 'home:post-detail' post.pk %}">
                <img class="img-responsive" src="{{ post.image.thumb.url }}" alt="Card image cap">
            </a>
            {% else %}
            <th scope="row">None</th>
            {% endif %}
            <div class="card-body text-center"> 
                <h6> <a href="{% url 'home:post-detail' post.pk %}" class="text-dark">{{post.title}}</a></h6> 
                <hr> 
                    <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                    <table>
                        <tr>  
                            <th> 
                                {% if post.author.imagem %}  
                                    <img src="{{  post.author.imagem.url }}" alt="{{ post.author.first_name }}" class="img-fluid rounded-circle" style="width: 40px; height: 40px;margin-right: 10px;">  
                                {% else %}  
                                    <img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle" alt="default" style="width: 40px; height: 40px;margin-right: 10px;"/>   
                                {% endif %}
                            </th> 
                            <th>
                                <span class="text-break text-truncate px-3">{{ post.author.user_name}}</span>
                            </th> 
                            <th>
                                <span class="badge bg-danger"> {{post.category.name}}</span> 
                            </th> 
                        </tr> 
                    </table> 
                </a>  
            </div>
        </div>
    </div>   
    {% endfor %} 