{% extends 'base/_base_home.html' %}
{% load static %}
{% block body_home %}
{% include 'base/_navbar.html' %} 
<div class="container">
    <div class="row g-5">
        <div class="col-md-8"> 
            <div class="position-relative">
                <div class="py-4"> 
                {% if has_filter %} 
                <div class="container-post">
                <h4>Pesquisa Ativa:</h4>
                <div class="row row-cols-lg-2 g-3"> 
                {% include 'home/posts.html' %}
                </div>
                </div>
                {% else %}
                <article class="blog-post">
                    {% include 'home/menu-center/center.html' %} 
                </article>
                <br>
                <article class="blog-post">
                    {% include 'home/comments/comments.html' %} 
                </article>  
                {% endif %}
                </div>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="position-sticky"> 
                <div class="py-4">
                    {% include 'home/menu-right/right.html' %} 
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}