{% extends 'base/_base_home.html' %}
{% load static %}
{% block body_home %}
{% include 'base/_navbar.html' %}

<div class="container py-5">
    <div class="row">
       
        <div class="col-md-8">
            <div class="container-post"> 
                <h3>{{post.title}}</h3> 
                <p class="text-muted">{{post.published_date}}</p>  
                {% if post.image %} 
                <img src="{{post.image.url}}" class="img-fluid py-3 text-center" alt="{{post.title}}" style="height: 500px;"> 
                {% else %}
                <th scope="row">None</th>
                {% endif %}
               
                <a href="#" style="text-decoration: none; color: rgb(46, 46, 46);">
                    <table>
                        <tr>  
                            <th> 
                                {% if post.author.imagem %} 
                                    <img src="{{  post.author.imagem.url }}" alt="{{ post.author.first_name }}" class="img-fluid rounded-circle" style="width: 40px; height: 40px;margin-right: 10px;"> 
                                {% else %} 
                                    <img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle" alt="default" style="width: 40px; height: 40px;margin-right: 10px;"/>  
                                {% endif %}
                            </th> 
                            <th>
                                <span class="text-break text-truncate">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                            </th>
                        </tr>
                    </table>
                </a>
                <hr>
                <p>{{post.desc}}</p> 
                <div class="p-4 text-center bg-light shadow-sm rounded"> 
                    <div>
                       
                        {% if post.download_file %}
                        <h4>Download Opção 1</h4>
                        <th scope="row">
                            <button class="btn-default  link-success" ><a class="link-success" href="{{ post.download_file.url }}" target="_blank" style="color: beige;">Download</a></button> 
                        </th> 
                        {% endif %}  
                    </div>
                    <br>
                    <div> 
                     {% if post.download_link %}
                     <h4>Download Opção 1</h4>
                     <th scope="row">
                        <button  class="btn-default  link-success" ><a class="link-success" href="{{ post.download_link }}" target="_blank" style="color: beige;">Download</a> </button>
                     </th> 
                     {% endif %}  
                    </div> 
                </div> 
                <br>
                <div class="py-3">
                    <h6>tags do post</h6> 
                <span class="badge bg-warning text-dark">Warning1</span> 
                <span class="badge bg-warning text-dark">Warning2</span> 
                <span class="badge bg-warning text-dark">Warning3</span>  
                </div>


            </div>
        </div>

        <div class="col-md-4">
            <div class="container-post">
                <h6>Pesquisar</h6>
                <input type="search" class="form-control" placeholder="Pesquisar...">
            </div>
            <br>
            <div class="container-post">
                <h6>tags</h6> 
                <span class="badge bg-warning text-dark">Warning1</span> 
                <span class="badge bg-warning text-dark">Warning2</span> 
                <span class="badge bg-warning text-dark">Warning3</span> 
                <span class="badge bg-warning text-dark">Warning4</span> 
                <span class="badge bg-warning text-dark">Warning5</span> 
                <span class="badge bg-warning text-dark">Warning6</span> 
                <span class="badge bg-warning text-dark">Warning7</span> 
                <span class="badge bg-warning text-dark">Warning8</span> 
                <span class="badge bg-warning text-dark">Warning9</span> 
                <span class="badge bg-warning text-dark">Warning10</span>  
            </div>
            <br>
            <div class="container-post">
                <h6>Outras Postagens</h6> 
                {% for post in post_list %} 
                <a href="{% url 'post-detail' post.pk %}" class="post-text">{{post.title}}</a> 
                <br>
                {% endfor %} 
            </div>
            <br>
            <div class="container-post">
                <h6>test menu</h6> 

            </div>
        </div>

    </div>
</div>


{% endblock %}