{% load widget_tweaks %}
{% load static %}
<div class="container-post">
    <h6>Pesquisar</h6> 
    <form class="d-flex" method="get" action="{% url 'home:home' %}">
        {% csrf_token %}
        <input type="text" name="title" id="title" placeholder="Pesquisar..." class="form-control"> 
    </form> 
</div>
<br>
<div class="container-post">
    <h6>Todas as categorias</h6>
    <form class="d-flex" method="get" action="">
        {% csrf_token %}
        <div class="form-group col"> 
            {% for cat in cat.all %}
            <a href="{% url 'home:category' cat.pk %}" style="text-decoration: none; color: rgb(46, 46, 46);">
                <span class="badge btn-gray">{{cat.name}}</span>
            </a>
            {% endfor %}  
        </div>
    </form>
</div>
<br>
<div class="container-post">
    <h6>Outras Postagens</h6>
    {% for post in post_list %}
        {% if post.is_activate == True %}
        <a href="{% url 'home:post-detail' post.pk %}" class="post-text">{{post.title}}</a>
        <br>
        {% endif %}
    {% endfor %}
</div>
<br>
<div class="container-post">
    <h6>Filtrar por Software</h6>  
    <a style="text-decoration: none; color: rgb(46, 46, 46);">
        <table>
            <tr>
                <th>
                    <img src="{% static 'images/aftereffects.png' %}" alt="" class="image">
                </th>
                <th>
                    <span class="text-break text-truncate">After Effects</span>
                </th>
            </tr>
        </table>
    </a>
    <hr>
    <a style="text-decoration: none; color: rgb(46, 46, 46);">
        <table>
            <tr>
                <th> 
                    <img src="{% static 'images/premiere.png' %}" alt="" class="image"> 
                </th>
                <th>
                    <span class="text-break text-truncate">Adobe Premiere</span>
                </th>
            </tr>
        </table>
    </a>
    <hr>
    <a style="text-decoration: none; color: rgb(46, 46, 46);">
        <table>
            <tr>
                <th>
                    <img src="{% static 'images/davinci.png' %}" alt="" class="image">
                </th>
                <th>
                    <span class="text-break text-truncate">Davinci Resolve</span>
                </th>
            </tr>
        </table>
    </a>
    <hr>
    <a style="text-decoration: none; color: rgb(46, 46, 46);">
        <table>
            <tr>
                <th>
                    <img src="{% static 'images/blender.png' %}" alt="" class="image">
                </th>
                <th>
                    <span class="text-break text-truncate">Blender 3D</span>
                </th>
            </tr>
        </table>
    </a>
    <hr>
    <a style="text-decoration: none; color: rgb(46, 46, 46);">
        <table>
            <tr>
                <th>
                    <img src="{% static 'images/vegas.png' %}" alt="" class="image">
                </th>
                <th>
                    <span class="text-break text-truncate">Vegas Pro</span>
                </th>
            </tr>
        </table>
    </a>
</div>