<div class="mt-5 pt-5 pb-5 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12">
                <h2>Diario de um Editor</h2>
                <p class="pr-5 text-white-50">Seja bem vindo(a) ao Diario de um Editor. Com muitas chuva de ideias e
                    criatividade aqui você pode compartilhar com o mundo.</p>
                <p>Sistema desenvolvimento em Django/Python. App teste ... </p>
                <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12">
                <h4 class="mt-lg-0 mt-sm-3">Links</h4> 
                <a style="text-decoration: none; color: rgb(255, 255, 255);" href="#">Tutoriais</a><br>
                <a style="text-decoration: none; color: rgb(255, 255, 255);" href="#">Projetos</a><br>
                <a style="text-decoration: none; color: rgb(255, 255, 255);" href="#">Audio Visual</a><br>
                <a style="text-decoration: none; color: rgb(255, 255, 255);" href="#">CGI</a><br>
                <a style="text-decoration: none; color: rgb(255, 255, 255);" href="#">Computer Manager</a><br>
                <a style="text-decoration: none; color: rgb(255, 255, 255);" href="#">Desenvolvimento</a><br>
            </div>
            <div class="col-lg-4 col-xs-12">
                <h4 class="mt-lg-0 mt-sm-4">Contato</h4>
                <p>Instagram: @eticialima</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>16 994256485</p>
                <p><i class="fa fa-envelope-o mr-3"></i>contato.leticialima.me@gmail.com</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <p class=""><small class="text-white-50">© 2022. Todos os Direitos Reservados.</small></p>
            </div>
        </div>
    </div>
</div>