{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid bellow">
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a class="logo" href="#">
            <h3>Diario de um Editor</h3>
        </a>
        <ul class="nav-menu navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">AE Assets</a></li>
            <li class="nav-item"><a href="#">PR Assets</a></li>
            <li class="nav-item"><a href="#">3D Assets</a></li>
            <li class="nav-item"><a href="#">Plugins</a></li>
        </ul>
        {% if user.is_authenticated %}
        <div class="action">
            <div class="profile" onclick="menuToggle();">
                {% if user.imagem %}
                <div class="circle-home">
                    <img src="{{ user.imagem.url }}" class="img-fluid" alt="{{ user.first_name }}" />
                </div>
                {% else %}
                <div class="circle-home">
                    <img src="{% static 'images/default.png' %}" class="img-fluid" alt="default" />
                </div>
                {% endif %}
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="#">Meu Perfil</a>
                    </li>
                    <li>
                        <a href="#">Configurações</a>
                    </li>
                    <li>
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="action">
            <button class=" btn-default d-flex" href="#">Login</button>
        </div>
        {% endif %}
    </div>
</nav>
<!-- Fim Navbar -->
<script>
    function menuToggle() {
        const toggleMenu = document.querySelector('.menu');
        toggleMenu.classList.toggle('active')
    }
</script>
<style>
    nav {
        background: #242424;
        height: 80px;
        width: 100%;
        position: fixed;
        z-index: 100;
    }

    .navbar {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu {
        display: grid;
        width: 60vw;
        grid-template-columns: repeat(5, auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        justify-content: right;
    }

    nav ul {
        float: right;
    }

    nav ul li {
        display: inline-block; 
    }

    nav ul li a {
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-decoration: none;
    }

    nav ul li a:hover {
        color: #a30808;
        text-decoration: none;
    }

    .nav-link {
        color: #a30808;
        text-decoration: none;
    }

    .bellow {
        margin: 0px 100px 0px 100px;
    }

    .logo {
        color: #fff;
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    .logo:hover {
        color: #a30808;
        text-decoration: none;
    }

    .circle-home {
        background-color: #ffffff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        overflow: hidden;
        position: relative;
        margin-inline: auto;
    }
 
    .action {
        position: fixed;
        right: 30px;
        top: 20px
    }

    .action .profile {
        border-radius: 50%;
        cursor: pointer;
        height: 60px;
        overflow: hidden;
        position: relative;
        width: 60px;
    }

    .action .profile img {
        width: 100%;
        top: 0;
        position: absolute;
        object-fit: cover;
        left: 0;
        height: 100%;
    }

    .action .menu {
        background-color: #FFF;
        box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 10px 20px;
        position: absolute;
        right: -10px;
        width: 200px;
        transition: 0.5s;
        top: 120px;
        visibility: hidden;
        opacity: 0;
    }

    .action .menu.active {
        opacity: 1;
        top: 80px;
        visibility: visible;
    }

    .action .menu::before {
        background-color: #fff;
        content: '';
        height: 20px;
        position: absolute;
        right: 30px;
        transform: rotate(45deg);
        top: -5px;
        width: 20px;
    }
  
    .action .menu ul li {
        align-items: center; 
        display: flex;
        justify-content: left;
        list-style: none;
        padding: 10px 0px;
    }

    .action .menu ul li img {
        max-width: 20px;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.5s
    }

    .action .menu ul li a {
        display: inline-block;
        color: #555;
        font-size: 14px;
        font-weight: 600;
        padding-left: 15px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .action .menu ul li:hover img {
        opacity: 1;
    }

    .action .menu ul li:hover a {
        color: #a30808;
    }

    /* Icone menu @media*/
    .checkbtn {
        font-size: 50px;
        color: white;
        float: left;
        padding-left: 25px;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    @media (max-width: 375px) {
        .circle-home {
            display: none;
        }

        .logo {
            display: none;
        }
    }

    /* @media 858px */
    @media (max-width: 858px) {
        .logo img {
            font-size: 30px;
            padding-left: 50px;
            position: fixed;
            contain: size;
        }

        .checkbtn {
            display: block;
        }

        .bellow {
            margin: 0px;
        }

        .nav-menu {
            display: none;
        }

        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #242424;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all 0.5s;
        }

        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }

        nav ul li a {
            font-size: 20px;
        }

        .action {
            display: none;
        }

        a:hover,
        a.active {
            text-decoration: none;
        }

        #check:checked~ul {
            left: 0;
            left: 0;
            display: block;
            width: -webkit-fill-available;
            margin-right: auto;
            position: absolute;
        }

        .logoimg {
            max-width: 100%;
        }
    }

    /* @media 952px */
    @media (max-width: 952px) {
        nav ul li a {
            font-size: 16px;
        }

        .nav-menu {
            width: 40vw;
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-gap: 10px;
            list-style: none;
            text-align: center;
            justify-content: right;
        }

    }
</style>