{% extends 'base/_dashboard_base.html' %}
{% block title %}Post{% endblock %}
{% block body_title %}Post{% endblock %}
{% block main_content %}  
<div class="g-4 py-3"> 
    <button class="btn-default btn-red"  onclick="location.href='{% url 'post-create' %}'">create post</button>  
    <!-- <button class="btn-default btn-orange"  onclick="location.href='#'">Comentarios</button>  
    <button class="btn-default btn-orange"  onclick="location.href='#'">Relatorios</button>   
    <button class="btn-default btn-orange"  onclick="location.href='#'">Todas Postagens</button>    -->
</div> 
 <!-- pesquisar -->
<div class="row d-flex">
    {% if request.GET.title %}   
    <div class="col-md-1 mb-2 py-3"> 
        <button class="btn-default btn-red"  onclick="location.href='{% url 'post' %}'">Reset</button>   
    </div> 
    {% endif %}
    <div class="form-group col-md-4 mb-2 py-3">   
       <form action="{% url 'post' %}" method="get">       
             <input name="title" type="text" value="{{request.GET.title}}" class="form-control me-2" placeholder="Pesquisar Post...">  
             <spam class="form-text text-muted">Example: search for "post"</spam>
       </form> 
    </div>   
</div>  
{% include 'post/post-card.html' %}    
{% endblock %}
