{% extends 'base/_base_index.html' %}
{% block title %}New password{% endblock %} 
{% block body_content %}
<div class="box text-center">
    <div class="form-signin">
        <form method="post" class="form" autocomplete="off">
            {% csrf_token %}
            <div class="form-group mt-3">
                <label for="new_password1">New password<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="new_password1" name="new_password1" required autofocus>
                <small id="password-help" class="form-text text-muted">
                    Your password cannot be too similar to your other personal information, must be at least 8 characters long, cannot be a commonly used password, and cannot be entirely numeric.
                </small>
            </div>
            <div class="form-group mt-3">
                <label for="new_password2">New password confirmation<span style="color: red;">*</span></label>
                <input type="password" class="form-control" id="new_password2" name="new_password2" required>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn-default btn-red" name="next" value="{{ next }}">Change</button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}