{% extends 'base/_base_home.html' %}
{% load widget_tweaks %} 
{% load static %}  
{% block body_home %}
{% include 'base/_navbar.html' %}   
{% include 'base/_messages.html' %}
<div class="container-sm py-5">  
    <div class="bg-light p-5 lead">
        <h2>Editar Informações Basicas</h2> 
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="input">First Name</label>
                        <input type="text" id="input" name="first_name" class="form-control" required="required" value="{{ request.user.first_name }}"/>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="input">Last Name</label>
                        <input type="text" name="last_name" class="form-control" required="required" value="{{ request.user.last_name }}"/>
                    </div> 
                </div>
            </div> 
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="textarea">About Me</label>
                        <textarea rows="4" id="textarea" class="form-control" required="required" name="description">{{ profile.description }}</textarea> 
                    </div>
                </div> 
                <div class="col">    
                    <div class="mb-3">
                        <label for="input">occupation </label>
                        <input type="text" name="occupation" class="form-control" required="required" value="{{ profile.occupation }}"/> 
                    </div>

                    <div class="mb-3">
                        <div class="form-check-inline">
                            <label>
                                <input type="radio" class="form-check-input" {% if profile.gender == "Homem" %} checked="checked" {% endif %} name="gender" value="Homem">
                                Homem
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label>
                                <input type="radio" class="form-check-input" {% if profile.gender == "Mulher" %} checked="checked" {% endif %} name="gender" value="Mulher">
                                Mulher
                            </label>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="input">Country</label>
                        <input type="text" name="country" class="form-control" required="required" value="{{ profile.country }}"/>
                    </div>
                    <div class="mb-3">
                        <label for="input">Whatsapp</label>
                        <input type="text" name="phone" class="form-control" required="required" value="{{ profile.phone }}"/>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="input">City</label>
                        <input type="text" name="city" class="form-control" required="required" value="{{ profile.city }}"/>  
                    </div>
                </div>
            </div>     
            <div class="submit-btns">
                <a class="mr-2" href="{% url 'profile:user-profile'  %}">vv</a> 
                <!-- <button type="button" class="btn btn-danger" onclick="location.href='{% url 'profile:user-profile' %}'"><span>Cancel</span></button> -->
                <button type="submit" class="btn btn-primary"><span>Update</span></button>
            </div>
        </form>
    </div> 
</div>
 {% endblock %} 