{% load static %}
<div class="row">
    <div class="col-md-3"> 
        <div class="p-3 bg-light"> 
            <h2>posts</h2>  
            <div class="form-group mb-2">
                <span class="fw-bold py-3">Title: </span>   
                <form action="{% url 'profile:user-profile' perfil.profile.user.user_name %}" method="get">   
                    <input name="title" type="text" value="{{request.GET.title}}" class="form-control" placeholder="Pesquisar..."> 
                </form> 
            </div>  
            {% if request.GET.title %}                    
            <a href="{%  url 'profile:user-profile' perfil.profile.user.user_name %}">
                <button class="btn-default btn-red" type="button">Reset</button>
            </a>  
            {% endif %}  
        </div> 
    </div> 
    <div class="col-md-9">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">  
            {% for post in page_obj %}     
            {% if post.is_activate == True %}
            <div class="card-group">
                <div class="card-box"> 
                    {% if post.image %} 
                    <a href="{% url 'home:post-detail' post.pk %}">
                        <img class="img-responsive" src="{{ post.image.thumb.url }}" alt="card-img-top">
                    </a>
                    {% else %}
                    <th scope="row">None</th>
                    {% endif %} 
                    <div class="card-body">
                    <h6 class="card-text text-center"><a href="{% url 'home:post-detail' post.pk %}" class="text-dark">{{post.title}}</a></h6> 
                    <p class=" ">
                        <a href="#" style="font-size:9px; text-decoration: none; color: rgb(155, 8, 8);">
                            <table>
                                <tr>
                                    <th>
                                        {% if post.author.profile.image %} 
                                            <img src="{{  post.author.profile.image.url }}" alt="{{ post.user.first_name }}" class="img-fluid rounded-circle" style="width: 40px; height: 40px;margin-right: 10px;">  
                                        {% else %}  
                                            <img src="{% static 'images/default.png' %}" class="img-fluid rounded-circle" alt="default" style="width: 40px; height: 40px;margin-right: 10px;"/>   
                                        {% endif %}
                                    </th> 
                                    <th>
                                        <span class="fw-light">{{ post.author.user_name}}</span>
                                    </th>   
                                </tr> 
                            </table> 
                        </a>   
                    </p> 
                    </div>
                    <div class="card-footer bg-transparent">    
                        <a href="" style="text-decoration: none; color: rgb(46, 46, 46);">
                            <span class="badge btn-red">{{post.category}}</span>
                        </a> 
                    </div>
                </div> 
            </div>  
            {% endif %}
        {% endfor %} 
        </div> 
             
        <div class="p-4"> 
            {% if page_obj.paginator.num_pages > 1 %}
            {% include 'profile/paginacao.html' %}
            {% endif %}
            <!-- <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if tennats.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>  -->
        </div>  
      
    </div>
</div>

 