
{% extends 'base/_base_home.html' %}
{% load widget_tweaks %} 
{% load static %}  
{% block body_home %}
{% include 'base/_navbar.html' %}   
<div class="container-sm"> 
    <section class="py-5">  
        <div class="bg-light p-5 lead">
            <div class="row">  
                {% if user.is_authenticated %}
                <a href="" style="text-decoration: none; color: rgb(155, 8, 8);">
                    <i class="fas fa-cog fa-2x"></i>
                </a>  
                {% endif %}
                <div class="col-md-4">  
                    {% if user.profile.image %} 
                    <div class="circle">
                        <img src="{{user.profile.image.thumb.url}}" alt="{{user.first_name}}"/> 
                    </div> 
                    {% else %}
                    <div class="circle">
                        <img src="{% static 'images/default.png' %}" alt="default" alt="foto de perfil" height="200"/> 
                    </div> 
                    {% endif %}
                </div> 
                <div class="col-md-8"> 
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">  
                            <h1>{{user.first_name}} {{user.last_name}}</h1> 
                        </div>

                        <form method="POST" action="">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{request.path}}">
                            <button type="submit" class="btn btn-light link-danger">
                                <i class='fas fa-heart fa-2x'></i><span class="h3 mx-2">23</span>
                            </button>
                        </form>  
                    </div>   
                    <p>Username: @{{user.username}}</p>
                    <div class="title-container">
                        <h4>Sobre:</h4>
                    </div>   
                    <p>{{ user.profile.description }}</p>     
                    <div class="row">
                        <div class="col-6"> 
                            <h5><b>Atuo como:</b> {{user.profile.occupation}}</h5>   
                            <p><b>Cidade:</b> {{user.profile.city}} {{user.profile.country}}</p> 
                        </div>

                        <div class="col-6"> 
                            <h5>Redes Sociais:</h5> 
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                                <i class="fab fa-youtube mx-2"></i>
                            </a>
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);"> 
                                <i class="fab fa-whatsapp mx-2"></i>
                            </a>        
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);"> 
                                <i class="fab fa-facebook mx-2"></i>
                            </a>        
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                                <i class="fab fa-instagram mx-2"></i> 
                            </a>    
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                                <i class="fab fa-twitter mx-2"></i>
                            </a>    
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                                <i class="fab fa-pinterest mx-2"></i>
                            </a>    
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                                <i class="fab fa-snapchat mx-2"></i>
                            </a>    
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                                <i class="fab fa-tiktok mx-2"></i>
                            </a>    
                            <a href="#" style="text-decoration: none; color: rgb(155, 8, 8);">
                                <i class="fab fa-discord mx-2"></i>
                            </a>
                        </div> 
                    </div> 

                </div>  
            </div> 
        </div>
    </section> 

    <section class="py-5"> 
  
        {% include 'profile/mypost.html' %}   
    
    </section>    
</div>
{% endblock %} 