{% extends 'base/_base_index.html' %}
{% load static %} 
{% block body_content %} 
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
{{ form.non_field_errors }}
</div>
{% endif %}  
<div class="box text-center">
    <main class="form-signin"> 
        <img class="img-fluid rounded-circle" src="{% static 'images/default.png' %}" alt="logo" width="250" height="250">
        <h1 class="h3 mb-3 fw-normal">Entrar</h1>
        <form method="POST" autocomplete="off" id="form-login">
            {% csrf_token %}
            <div class="col">
                <div class="form-group mt-3">
                    <label for="username">Email</label>
                    <input type="email" id="username" name="username" class="form-control item"
                        value="{{ request.POST.username }}" required autofocus>
                </div>
                <div class="form-group mt-3">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" class="form-control item" required>
                </div>
                <div class="form-group mt-3"> 
                    <button class="btn-default" type="submit">Conecte-se</button>
                    <button class="btn-default"  onclick="location.href='{% url 'password-reset' %}'"  ><a></a>Esqueceu a senha?</button> 
                </div>
                <div class="form-group mt-3"> 
                    <a class="link-secondary " href="{% url 'user-new' %}">Registrar-se</a>
                    <a class="link-secondary " role="button" href="{% url 'index' %}">cancelar</a>
                </div>
            </div>
        </form>
        <p class="mt-5 mb-3 text-muted">© DMC 2021</p>
    </main>
</div> 
<div class="text-center row mt-5 pt-5 ">
    <div class="col mb-md-0 mb-4">
        <span class="text-secondary" style="display: block;">Release 1.0.1</span>
        <span class="text-secondary" style="display: block;">Patch 023</span>
    </div> 
    </div>
{% endblock %}