{% extends 'base/_dashboard_base.html' %}
{% block title %}Usuários{% endblock %}
{% block body_title %}Usuários do sistema{% endblock %}
{% block main_content %} 
<div class="col-6">
    <button class="btn-default btn-orange"  onclick="location.href='{% url 'user-new' %}'"><a></a>Cadastrar Usuários</button>  
</div> 
<div class="table-responsive">
    <table class="text-center table table-bordered rounded mt-3 shadow-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imagem</th> 
                <th scope="col">Nome User</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo de Usuários</th>
                <th scope="col">Data de Registro</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        {% for user_list in object_list %}
        {% include 'accounts/user-card.html' %}
        {% endfor %}
    </table>
    {% endblock %}
</div>