 
<div class="row">
   <div class="col-md-4 py-3">
      <a href="">
      <div class="card-box carde">
         <div class="card-body text-center"> 
            <span> 
               <i class="fas fa-home fa-10x"></i>
            </span> 
            <h5 class="card-title">Home Page</h5>
         </div>
      </div>
      </a>
   </div>  
   <div class="col-md-4 py-3">
      <a href="">
      <div class="card-box carde">
         <div class="card-body text-center">  
            <span >
               <i class="fas fa-id-badge fa-10x"></i>
            </span> 
            <h5 class="card-title">Configurações de perfil</h5>
         </div>
      </div>
      </a>
   </div>  
   <div class="col-md-4 py-3">
      <a href="">
      <div class="card-box carde">
         <div class="card-body text-center">  
            <span >
               <i class="fas fa-folder fa-10x"></i>
            </span> 
            <h5 class="card-title">Relatorios</h5>
         </div>
      </div>
      </a>
   </div>  
 </div>