{% extends 'base/_base_index.html' %}
{% block body_content %}
<div class="text-center p-5">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Aviso de Segurança</h1>
        <p><b>Você foi desconectado(a) por inatividade.</b><br>
            Por favor, verifique a sua conexão com a internet e por segurança é necessario que você se identifique novamente.</p> 
            <button class="btn-default btn-red"  onclick="location.href='{% url 'accounts:login' %}'">Clique aqui para efetuar seu login</button>    
        <p class="mt-5 mb-3 text-muted">© DMC Intranet 2021</p>
    </main>
</div> 
{% endblock %}