{% extends 'base/_base_index.html' %}
{% block body_content %}
<div class="text-center p-5">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Security Notice</h1>
        <p><b>You have been disconnected for inactivity.</b><br>
            Please check your internet connection and for security you need to re-identify yourself.</p> 
            <button class="btn-default btn-red"  onclick="location.href='{% url 'accounts:login' %}'">Click here to log in</button>    
        <p class="mt-5 mb-3 text-muted">© System Portal X</p>
    </main>
</div> 
{% endblock %}