body html{
  overflow-x: hidden;
  text-decoration: none;
}
:root {
  --main-bg-color: #1d3057;
  --main-text-color: #a30808;
  --second-text-color: #bcbbc5;
  --second-bg-color: #1d3057;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
  
#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

/* .bg1{ 
  background-image: url( '/static/images/bg1.png' );
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;  
} */

.fundo{ 
  background-color: #e6e6e6;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 19%);
}

.circle {
  background-color: #ffffff;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin-inline: auto;
}

.circle img { 
  width: 100%; 
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
  box-sizing: border-box;
}

.post-thumb img{ 
  max-height: 250px;
  width: auto;
  height: auto;
}

.custom-file input[type="file"] {
  display: none;
}
.label-input {
  padding: 20px 10px; 
  background-color: #a30808;
  color: #FFF; 
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}


.label-input:hover{
  background-color: #212529;
}
.menu-item{ 
  background-color: #ffffff;
  color: rgb(29, 29, 29);
}
.menu-item a{ 
  text-decoration: none;
}
.menu-item:hover{
  background-color: #a30808; 
  color: rgb(255, 255, 255);
}
 
.img-responsive {
  display: block;
  width: 100%; 
  max-width: 100%; 
  border-radius: 25px;
  height: 200px;
} 

.card-box {
  box-shadow: 0px 0px 3px 2px rgb(163 8 8)!important;
  transition: 0.5s;
  width: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.card-box:hover {
  box-shadow: 0px 0px 7px 4px rgba(236, 236, 236, 0.9)!important;
}

 
a .carde {
 text-decoration: none;
 color: #571d1d;
}

.carde:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
 
 
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -16rem;
  }
}
 