{% load static %}
<nav class="navbar navbar-expand-lg shadow">
    <div class="container bellow">
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a class="logo" href="{% url 'home:home' %}">
            <h5>System PortalX</h5>
        </a>
        <ul class="nav-menu navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a href="{% url 'home:home' %}">Home</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="#">How to Use?</a></li> 
            <li class="nav-item"><a href="#">Contact</a></li> 
            <li class="nav__perfil nav__item dropdown">
                {% if user.is_authenticated %}
                <div class="action">
                    <div class="profile" onclick="menuToggle();">
                        {% if user.profile.image %}
                        <div class="circle-home">
                            <img src="{{ user.profile.image.url }}" class="img-fluid" alt="{{ user.first_name }}" />
                        </div>
                        {% else %}
                        <div class="circle-home">
                            <img src="{% static 'images/default.png' %}" class="img-fluid" alt="default" />
                        </div>
                        {% endif %}
                    </div>
                    <div class="menu text-start lh-lg">
                        <div>
                            <a href="{% url 'profile:user-profile' user.user_name %}" class="nav__link">My Profile</a>
                            <a href="{% url 'painel' %}" class="nav__link">Settings</a>
                            <button class=" btn-default btn-red d-flex" onclick="location.href='{% url 'accounts:logout' %}'">Logout</button>
                        </d>
                    </div>
                </div>
                {% else %}
                <div class="action">
                    <button class=" btn-default btn-red d-flex" onclick="location.href='{% url 'accounts:login' %}'">Login</button>
                </div>
                {% endif %}
            </li> 
        </ul> 
    </div>
</nav>
<!-- Fim Navbar -->
<script>
    function menuToggle() {
        const toggleMenu = document.querySelector('.menu');
        toggleMenu.classList.toggle('active')
    }
</script>
<style>  
    nav { 
        background: #FBFBFB;
        height: 80px;
        width: 100%; 
        z-index: 100;  
        display: flex; 
        align-items: center; 
    }

    .navbar {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu {
        background: #FBFBFB;
        display: grid;
        width: 60vw;
        grid-template-columns: repeat(5, auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        justify-content: right;
    }

    nav ul {
        float: right;
    }

    nav ul li {
        display: inline-block; 
    }

    nav ul li a {
        color: #393939;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-decoration: none;
    }

    nav ul li a:hover {
        color: rgb(239,141,111); 
        background-color: #faf5f0;
        text-decoration: none;
    }

    .nav-link {
        color: rgb(208,85,79);
        text-decoration: none;
    }

    .bellow {
        margin: 0px 100px 0px 100px;
    }

    .logo {
        color: #393939;
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    .logo:hover {
        color: rgb(239,141,111); 
        text-decoration: none;
    }

    .circle-home { 
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;
        position: relative;
        margin-inline: auto;
    }
 
    .action {
        position: fixed;
        right: 30px;
        top: 20px
    }

    .action .profile {
        border-radius: 50%;
        cursor: pointer;
        height: 60px;
        overflow: hidden;
        position: relative;
        width: 60px;
    }

    .action .profile img {
        width: 100%;
        top: 0;
        position: absolute;
        object-fit: cover;
        left: 0;
        height: 100%;
    }

    .action .menu {
        background-color: #FFF;
        box-shadow: rgb(0 0 0 / 20%) 0px 0px 8px 0px; 
        border-radius: 15px;
        padding: 10px 20px;
        position: absolute;
        right: -10px;
        width: 200px;
        transition: 0.5s;
        top: 120px;
        visibility: hidden;
        opacity: 0;
    }

    .action .menu.active {
        opacity: 1;
        top: 80px;
        visibility: visible;
    }

    .action .menu::before {
        background-color: #fff;
        content: '';
        height: 20px;
        position: absolute;
        right: 30px;
        transform: rotate(45deg);
        top: -5px;
        width: 20px;
    }

    .nav__link {
    color: #242424;
    }

    .nav__link:hover {
    color: rgb(239,141,111); 
    }
 
    /* Icone menu @media*/
    .checkbtn {
        font-size: 50px;
        color: 393939;
        float: left;
        padding-left: 25px;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check {
        display: none;
    }
    @media (max-width: 375px) {
        .circle-home {
            display: none;
        } 
    }

    @media (max-width: 425px) {}

    @media (max-width: 768px) {}


    /* @media 858px */
    @media (max-width: 858px) {
       .logo img {
            font-size: 30px;
            padding-left: 50px;
            position: fixed;
            contain: size;
        }
 
        .checkbtn {
            display: block;
        }

        .bellow {
            margin: 0px;
        }
 
        .nav-menu {
            display: none;
        }
 
       ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #242424;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all 0.5s;
        }
       
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        
        nav ul li a {
            font-size: 20px;
        } 
        a:hover,
        a.active {
            text-decoration: none;
        }

        #check:checked~ul {
            left: 0;
            left: 0;
            display: block;
            width: -webkit-fill-available;
            margin-right: auto;
            position: absolute;
        }

        .logoimg {
            max-width: 100%;
        } 
    }

    /* @media 952px */
    @media (max-width: 952px) {
        .logo {
            display: none;
        } 

        .nav-menu { 
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-gap: 10px;
            list-style: none;
            text-align: center;
            justify-content: right;
        } 
    } 

    @media (max-width: 1024px) {
        .logo {
            display: none;
        }
    }
</style>