<a href="{% url 'profile:user-profile' request.user.user_name %}" class="menu-item p-3"><i class="fas fa-users me-2"></i>My Profile</a>  
<a href="{% url 'painel' %}" class="menu-item p-3"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>  
<a href="{% url 'post' %}" class="menu-item p-3"><i class="far fa-file-pdf me-2"></i>Manage Post</a>      
<a href="{% url 'profile:users-profile' %}" class="menu-item p-3"><i class="fas fa-users me-2"></i>System Users</a>  
<a class="menu-item-out fw-bold p-3 link-light" data-bs-toggle="modal" href="#exampleModal"><i class="fas fa-power-off me-2"></i>Logout</a> 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attention User!<i class="link-danger fas fa-exclamation-triangle me-2"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to log out of the system? <br>
        After clicking "Logout" you will be logged out.
    </div>
    <div class="modal-footer"> 
        <button class="btn-default btn-red"  onclick="location.href='{% url 'accounts:logout' %}'">Logout</button>   
    </div>
    </div>
</div>
</div>